*{
    margin: 0;
    padding: 0;
}

#nav{
    display: flex;
}

#nav-menu-container ul{
    list-style: none;
}

#nav-menu li a{
    text-decoration: none;
    position: relative;
    display: block;
}